@use './typography' as *;

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: $font;
    background-color: var(--off-black); //change to off-white
}

.flex{
    display: flex;

    &-justcont-c{
        justify-content: center;
    }

    &-alignit-c{
        align-items: center;
    }
}

.main{
    height: 100vh;
    
    &-block{
        height: 680px;
        width: 850px;
        background-color: var(--white);
        border-radius: 30px 30px 200px 30px;
    }

    &-date-block{
        padding: 50px 0 0px 50px;
    }

    &-date-each{
        color: var(--smokey-grey);
    }

    input{
        height: 70px;
        width: 150px;
        
        margin: 20px 50px 0 0;

        padding-left: 10px;

        -moz-appearance: textfield;
        appearance: textfield;

        border-color: var(--light-grey);
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;

        caret-color: var(--purple);

        font-size: 40px;
        font-weight: 700;

        &:focus{
            border-color: var(--purple);
            outline: none;
        }
    }
}

.error{
    font-size: 12px;
    font-style: italic;
    margin: 0;

    &-color{
        color: var(--light-red) !important;
    }

    &-border-color{
        border-color: var(--light-red) !important;
    }
}

.display-none{
    display: none;
}

a{
    cursor: pointer;
}

img{
    height: 80px;
    width: 80px;
    padding: 20px;
    margin-left: 720px;
    
    border-radius: 100%;

    color: var(--white) !important;
    background-color: var(--purple);
}

.results{
    padding: 20px 0 0 50px;
    font-size: 72px;
    font-weight: 800;
    font-style: italic;

    &-numbers{
        color: var(--purple);
    }
}

@media screen and (max-width: 375px){

}

@media screen and (min-width: 376px){

}