@use './typography' as *;

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: $font;
    background-color: var(--off-black); //change to off-white
}

.flex{
    display: flex;

    &-justcont-c{
        justify-content: center;
    }

    &-alignit-c{
        align-items: center;
    }
}

.main{
    height: 100vh;
    
    &-block{
        height: 650px;
        width: 850px;
        background-color: var(--white);
        border-radius: 30px 30px 200px 30px;
    }

    &-date-block{
        padding: 50px 0 0px 50px;
    }

    &-date-each{
        color: var(--smokey-grey);
    }

    input{
        height: 70px;
        width: 150px;
        
        margin: 20px 50px 0 0;

        border-color: var(--light-grey);
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;

        &::placeholder{
            font-size: 40px;
            font-weight: 700;
        }

        &:focus{
            border-color: var(--purple);
            outline: none;
        }
    }
}

img{
    height: 80px;
    width: 80px;
    padding: 20px;
    margin-left: 720px;
    
    border-radius: 100%;

    color: var(--white) !important;
    background-color: var(--purple);
}


.text{
    &-input{
        font-size: 32px;
    }
}

@media screen and (max-width: 375px){

}

@media screen and (min-width: 376px){

}